.spinner{
    display:none;
    height:125px;
    width:125px;
    border-left:3px solid #26a65b;
    border-radius: 100px;
    animation: test 1.25s linear infinite;
    z-index:1001;
    position:absolute;
    top:35%;
    left:45%;
}

.hide{
    display: none !important;
}

.show{
    display: block;
}

@media all and (max-width:768px){
    .spinner{
        top:35%;
        left:35%;
    }
}
@keyframes test{
    0%{transform:rotate(0deg)}
    50%{transform:rotate(360deg)}
    100%{transform:rotate(720deg)}
}